{% load static %}
{% include 'head.html' %}
{% include 'dashboard.html' %}
<div class="container-fluid bg-dark">
    <div class="content">
        <div class="bg-content-fluid bg-dark">
           
        </div>
        <div class="card card-detail">
            <div class="row">
                <div class="col-md-5">
                    <div class="flex flex-wrap justify-center">
                        <a href="/figure/{{ figure.id }}" class="item-figure">
                            <div class="group relative m-1 mb-1 block overflow-hidden">
                                <img src="{% static 'asset/img/' %}{{ figure.image  }}" class="avatar" alt="{{ figure.name  }}"
                                class="img-fluid">
                            </div>
                            <h2 class="text-center text-gray-200">{{ figure.name }}</h2>
                        </a>
                    </div>
                </div>
                <div class="col-md-7">
                    <span><h5><b>Mô tả</b></h5>{{ figure.description }}</span><br>
                    <span>Thuộc tính : {{ figure.attribute.name }}</span><br>
                    <span>Giới tính : {{ figure.gender.name }}</span><br>
                    <span>Khu vực : {{ figure.territory.name }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
